<div class='row panels-large panel-section'>
	<div class='col-md-2'></div>
	<div class='col-md-8'>
		<div class='row'>
			<div class='panels'>
				<div class='panel'>
					<div class='banner'>
						<img src='assets/comp' />
						<span>Increase</span>
					</div>
				</div>
				<div class='panel'>
					<div class='banner'>
						<img src='assets/chat' />
						<span>Your</span>
					</div>
				</div>
				<div class='panel'>
					<div class='banner'>
						<img src='assets/phone' />
						<span>Business</span>
					</div>
				</div>
				<div class='panel'>
					<div class='banner'>
						<img src='assets/handshake' />
						<span>Network</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='col-md-2'></div>
</div>