<div class='container-fluid'>
	<div class='header'>
		<div class='row'>
			<div class='col-md-2'></div>
			<div class='col-md-8'>
				<div class='row'>

					<div class='col-sm-4'>
						<div class='logo'>KMT Hub
							<sup class='trademark'>®</sup>
						</div>
						<div class='sub-logo'>
							Technology Consultant
						</div>
					</div>
					<div class='col-sm-8'>
						<div class='header-nav'>
							<div class='links'>
								<a href="/">Home</a>
								<a href="/">Branding & Strategy</a>
								<a href="/">About</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-md-2'></div>
		</div>
	</div>

	<%= render :partial => 'panels' %>
	<%= render :partial => 'mobile_panels' %>
</div>