<div class='row branding'>
	<div class='col-md-2'></div>
	<div class='col-md-8'>
		<div class='branding-header'>
			<h2>BRANDING</h2>
		</div>

		<div class='row'>
			<div class='section-1'>
				<div class='bubble'>
					<p>"Networking is not collecting contacts!</p>
					<p>Networking is about planting relationships"</p>
					<div class='bar'></div>
					<div class='credit'>MiSha.at</div>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='caption'>
				Getting to know companies and their needs helps us provide the best solutions.
			</div>
		</div>

		<div class='branding-header'>
			<h2>STRATEGY</h2>
		</div>

		<div class='row'>
			<div class='section-2'>
			<div class='bubble'>
					<p>"Do what you do so well that they will want to see it again and bring their friends"</p>
					<div class='bar'></div>
					<div class='credit'>Walt Disney</div>
				</div>
			</div>
		</div>

	</div>
	<div class='col-md-2'></div>
</div>