<div class='row about'>
	<div class='col-md-2'></div>
	<div class='col-md-8'>
		<div class='about-header'>
			ABOUT
		</div>

		<div class='content'>
				KMT Hub helps to diagnose your company's network and contextual communication needs. KMT is partnered with several industry leaders and so is able to offer a comprehensive, and unbiased approximation of your company's individual and particular needs.
		</div>

		<div class='contact-header'>
			CONTACT US
		</div>

		<div class='contact-image'>
			<div class='bubble'>
				Ready to build your network?<br/>
				See how we can help!
			</div>
		</div>

		<div class='row'>
			<div class='col-sm-6'>
				<form>
					<div class='row'>
						<div class='col-sm-6'>
						  <input type="text" name="name" placeholder="Name">
						  <br>
						  <input type="text" name="email" placeholder="Email">
						  <br>
						  <input type="text" name="subject" placeholder="Subject">
						</div>
						<div class='col-sm-6'>
						  <textarea rows="50" name="message" placeholder="Message"></textarea>
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-12'>
							<input class='submit' type="submit" value='send'>
						</div>
					</div>
				</form>
			</div>
			<div class='col-sm-3'>
			</div>
			<div class='col-sm-3'>
			</div>
		</div>
	</div>
	<div class='col-md-2'></div>
</div>