$bubble-green: rgba(69, 186, 1, 1);

.branding {
	background-color: ghostwhite;
	padding-bottom: 50px;

	.branding-header {
		margin: 30px 0px 20px 0px;
		font-size: 26px;
	}

	.bubble {
		background-color: $bubble-green;
		color: white;
		font-size: 24px;
		font-weight: lighter;
    text-align: center;
    width: 440px;
    position: relative;
    margin: 0 auto;
    padding: 20px 0px;

    p {
    	margin: 0 auto;
    	width: 350px;
    	margin-bottom: 20px;
    }

    .bar {
    	height: 1px;
    	width: 75px;
    	background-color: white;
    	margin: 10px auto 20px auto;
    }

    .credit {
    	font-size: 12px;
    }

    &:before {
    	content: '';
	    height: 75px;
	    width: 150px;
	    top: -75px;
	    background-color: $bubble-green;
	    position: absolute;
	    margin-left: -75px;
	    background-color: linear-gradient;
	    border-top-left-radius: 150px;
	    border-top-right-radius: 150px;
	    background-size: 60px;
	    background-repeat: no-repeat;
	    background-position: center;
    }
	}

	.caption {
		font-size: 14px;
		float: right;
		margin-top: 20px;
		width: 300px;
		color: #848079;
		margin-right: 150px;
	}

	.section-1 {
		background-image: url(image_path('city.JPG'));
		background-size: cover;
		padding-top: 200px;
		padding-bottom: 40px;

		.bubble:before {
			background-image: url(image_path('wifi.png'));
		}
	}

	.section-2 {
		background-image: url(image_path('keyboard.jpeg'));
		background-size: cover;
		padding-top: 200px;
		padding-bottom: 40px;

		.bubble:before {
			background-image: url(image_path('chat.png'));
		}
	}
}

@media screen and (max-width: 768px) {
	.branding .caption {
		float: none;
		margin: 30px auto 0 auto;
		text-align: center;
	}

	.branding .section-1, .branding .section-2 {
		padding-top: 125px;
	}
}

@media screen and (max-width: 500px) {
	.branding .bubble {
		font-size: 18px;
		width: 300px;

		p {
			width: 250px;
		}
	}
}