$dark-teal: #006c6d;

.panel-section {
	background-color: ghostwhite;

	.panels {
		background: url('womanonphone.jpeg') no-repeat;
		background-size: cover;
		height: 500px;
		margin-top: 50px;

		.panel {
			float: left;
	    width: 25%;
	    height: 500px;
	    top: -2px;
	    background: transparent;
	    border: 7px solid ghostwhite;
	    border-radius: 0;

	    .banner {
	    	height: 70px;
	    	font-family: 'Amatic SC', cursive;
	    	color: white;
		    background-color: $dark-teal;
		    margin-right: 10px;
	    	position: relative;
	    	font-size: 18px;
	    	top: 350px;
	    	line-height: 70px;

	    	img {
	    		height: 50px;
	    		margin-left: 20px;
	    	}

	    	span {
	    		float: right;
	    		margin-right: 30px;
	    	}
	    	
		    &:after {
		    	content: '';
			    background: linear-gradient(45deg, #006c6d 5px, transparent 0) 0 17px, linear-gradient(135deg, #006c6d 5px, transparent 0) 0 5px;
			    background-color: transparent;
			    background-position: left top;
			    background-repeat: repeat-y;
			    background-size: 10px 10px;
			    height: 70px;
			    width: 10px;
			    position: absolute;
			    display: block;
			    right: -10px;
			    top: 0;
		    }
	    }
		}
	}
}

.panels-mobile.panel-section {
	display: none;

	.panels {
		width: 90%;
		margin: 30px auto;

		.panel {
			width: 100%;
			border: none;

			.banner {
				height: 50px;
		    font-family: 'Amatic SC', cursive;
		    color: white;
		    background-color: #006c6d;
		    margin-right: 10px;
		    position: relative;
		    font-size: 18px;
		    line-height: 50px;
		    margin-top: 14px;
		    top: 220px;

		    img {
		    	height: 30px;
		    }

		    &:after {
		    	height: 50px;
		    }
			}
		}
	}
}


@media screen and (max-width: 725px) {
	.panels-large {
		display: none;
	}

	.panels-mobile.panel-section {
		display: block;
	}
}