<!DOCTYPE html>
<html>
<head>
  <title>KMTHub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC|Open+Sans:300,400,700|Open+Sans+Condensed:300,400,700|Enriqueta:300,400" />
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container-fluid'>
	<div class='header'>
		<div class='row'>
			<div class='col-md-2'></div>
			<div class='col-md-8'>
				<div class='row'>

					<div class='col-sm-4'>
						<div class='logo'>
							<a href="/">KMT Hub</a>
							<sup class='trademark'>®</sup>
						</div>
						<div class='sub-logo'>
							<a href="/">Technology Consultant</a>
						</div>
					</div>
					<div class='col-sm-8'>
						<div class='header-nav'>
							<div class='links'>
								<a href="/">Home</a>
								<a href="/branding">Branding & Strategy</a>
								<a href="/about">About</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-md-2'></div>
		</div>
	</div>


	<%= yield %>

	<div class='footer'>
		<div class='row'>
			<div class='col-md-2'></div>
			<div class='col-md-8'>
				<div class='row'>

					<div class='col-sm-6'>
						<div class='logo'>
							<a href="/">KMT Hub</a>
							<sup class='trademark'>®</sup>
						</div>
						<div class='sub-logo'>
							<a href="/">Technology Consultant</a>
						</div>
					</div>
					<div class='col-sm-6'>
						<div class='links'>
							<a href="/">Home</a>
							<a href="/branding">Branding & Strategy</a>
							<a href="/about">About</a>
						</div>
					</div>
				</div>
			</div>
			<div class='col-md-2'></div>
		</div>
	</div>
</div>

</body>
</html>
